*{
    padding: 0;
    margin: 0;
    background-color: #223243;
}
/*                   nav-bar                     */
div.navbar{
    opacity: .7;
    box-shadow: 5px 5px 50px;
    background-color:#223243;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    box-shadow: 0 0 50px;
    z-index: 9;
}
div.nav-menu{
    display: grid;
    align-items: center;
}
ul.nav-ul{
    display: grid;
    right: 0%;
    position: absolute;
    grid-template-columns: auto auto auto;
}
ul.nav-ul li{
    list-style: none;
    width: 100%;
    padding:15px 30px; 
}
ul.nav-ul li a.nav-a{
    color:#bada55;
    display: block;
    position: relative;
    padding:0 20px;
    width: 50%;
    text-align: center;
    background-color:#223243;
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;

}
ul.nav-ul li a.nav-a:hover{
    background-color:rgb(26, 211, 211);
    color: black;
    text-align: center;
    text-decoration: underline;
    transition: .5s;
    transform: scale(1.2,1.5);
    z-index: 10;
}

/*                                 HOME PAGE                 */

div.img img{
    margin-top: 50px;
    transition: 2s;
    padding-bottom: 20px;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   
}
div.logo{
    color: white;
    display: grid;
    opacity: .5;
    position: relative;
    justify-items:center;
    filter: drop-shadow(0px 0px 50px);
    
}
div.logo img{
    width: 400px;
    height: 400px;
}
div.menu{
    z-index: 3;
    width: 100%;
    height: 100px;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
    position: absolute;
}
a.pide-page,.tava-page,.sac-tava-page,.kebap-page{
    text-decoration-line: none;
    text-decoration:underline;
    text-transform: uppercase;
    transition-duration: 2s;
    height: 30px;
    padding: 15px 10px; 
    display: flex;
    margin-top: 1px;
    background-color: #223243;
    color: bisque; 
    text-align:center;
    border-radius: 50px;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
    background-color: #223243;
}
a.pide-page:hover,.tava-page:hover,.sac-tava-page:hover,.kebap-page:hover{
    transition: .1s;   
    color: rgb(128, 90, 136);
}