*{
    padding: 0;
    margin: 0;
    background-color: #223243;
}
/*                   nav-bar                     */
div.navbar{
    opacity: .7;
    box-shadow: 5px 5px 50px;
    background-color:#223243;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    box-shadow: 0 0 50px;
    z-index: 9;
}
i{
    color: white;
    font-size: 50px;
}
div.nav-menu{
    display: grid;
    align-items: center;
}
ul.nav-ul{
    display: grid;
    right: 0%;
    position: absolute;
    grid-template-columns: auto auto auto;
}
ul.nav-ul li{
    list-style: none;
    width: 100%;
    padding:15px 30px; 
}
ul.nav-ul li a.nav-a{
    color:#bada55;
    display: block;
    position: relative;
    padding:0 20px;
    width: 50%;
    text-align: center;
    background-color:#223243;
    text-decoration: none;
    font-family: sans-serif;
    cursor: pointer;

}
ul.nav-ul li a.nav-a:hover{
    background-color:rgb(26, 211, 211);
    color: black;
    text-align: center;
    text-decoration: underline;
    transition: .5s;
    transform: scale(1.2,1.5);
    z-index: 10;
}

/*                                 HOME PAGE                 */

div.img img{
    margin-top: 50px;
    transition: 2s;
    padding-bottom: 20px;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   
}
div.logo{
    color: white;
    display: grid;
    opacity: .5;
    position: relative;
    justify-items:center;
    filter: drop-shadow(0px 0px 50px);
    
}
div.logo img{
    width: 400px;
    height: 400px;
}
div.menu{
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
}
a.pide-page{
    text-decoration:none;
    transition-duration: 1s;
    height: 30px;
    padding: 15px 10px; 
    display: flex;
    margin-top: 20px;
    align-items: center;
    background-color: #223243;
    color: bisque; 
    text-align:center;
    border-radius: 50px;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
li.menu-icon{
    display: none;
}
a.pide-page:hover{
    transition: .1s;   
    color: rgb(128, 90, 136);
}
h1.res-name{
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #0d0e0c;
    font-size: bold;
}
h1.res-name:hover{
    text-shadow:0px 0 15px rgb(26, 204, 195);
    cursor: pointer;
}
i:hover{
    color: rgb(124, 103, 103);
}
@media only screen and (max-width: 750px) {
    li.menu-icon{
        display: flex; 
    }
    div.navbar{
        display:flex ;
        justify-content: end;
    }
    ul.nav-ul{
        display: none;
    }
    h1.res-name{
        font-size: 20px;
    }
    div.navbar{
        justify-content: space-between;
    }
}
  .container .header {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;

  }
  
  .hamburger-menu {
    --heigth: 5px;
    --animation-speed: 300ms;
    --space: calc(var(--heigth) * 2.5);
    width: calc(var(--space) * 4);
    height: calc(var(--heigth) + var(--space) * 2);
  }
  .hamburger-menu span, .hamburger-menu span::before, .hamburger-menu span::after {
    content: "";
    display: block;
    height: var(--heigth);
    width: 100%;
    background: #000000;
  }
  .hamburger-menu span {
    transform: translateY(var(--space));
    transition: var(--animation-speed) background-color;
  }
  .hamburger-menu span::after {
    position: absolute;
    top: var(--space);
    transition: var(--animation-speed) transform, var(--animation-speed) var(--animation-speed) top;
  }
  .hamburger-menu span::before {
    position: absolute;
    transition: var(--animation-speed) transform, var(--animation-speed) var(--animation-speed) bottom;
    bottom: var(--space);
  }
  
  #menu-toggle {
    display: none;
  }
  #menu-toggle:checked ~ .container .hamburger-menu span {
    background: transparent;
  }
  #menu-toggle:checked ~ .container .hamburger-menu span::before {
    transform: rotate(-45deg);
    bottom: 0;
    transition: var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) bottom;
  }
  #menu-toggle:checked ~ .container .hamburger-menu span::after {
    transform: rotate(45deg);
    transition: var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) top;
    top: 0;
  }
  
  /*# sourceMappingURL=style.css.map */
  